@import url('http://fonts.googleapis.com/css?family=Open+Sans');

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.home-lite-grey{background-color:#f2f2f2;}
.home-white{background-color:#ffffff;color: #000}

@verb-background-color: #f2f2f2; // Appears 47 times
@verb-primary-color: #ffffff ; // Appears 47 times
@verb-secondary-color: #f2f2f2 ; // Appears 13 times

@verb-font-family: open sans;
@verb-font-weight: 400; 
@verb-font-size: 14px;
@verb-font-color: @verb-primary-color;

@verb-font-family-condensed:  open sans condensed;
@verb-font-weight-condensed: @verb-font-weight; 
@verb-font-size-condensed: @verb-font-size;

@verb-header-hero-opacity: 0.8;

@verb-home-feature-h1-font-color: #ffffff ;
@verb-home-feature-h1-font-weight: @verb-font-weight;
@verb-home-feature-h1-font-family: @verb-font-family;
@verb-home-feature-h1-font-size: 40px;

//@verb-home-feature-h2-font-color: #000 ;
@verb-home-feature-h3-font-color: #000 ;
.home-feature h2 {
    color:#000;
}

@verb-home-feature-font-color: #000 ;
@verb-home-feature-font-weight: @verb-font-weight;
@verb-home-feature-font-family: @verb-font-family;
@verb-home-feature-font-size: @verb-font-size;

//hide search
.project > ul > li.search img {
display:none;
}

//hide categories at bottom
.copyright ul {
  display:none;
}

